@charset "utf-8";
/* CSS Document */

.content{
	position:relative;
	width:1000px;
	height:870px;
	}

.content_contakt {
    z-index: -1;
    top:25px;
	position:absolute;
	width:1000px;
	
	}	
	
.content_about{
    z-index: -1;
    top:40px;
	position:absolute;
	
	}
.content_novunu {
    z-index: -1;
    top:0px;
	position:absolute;
	width:1000px;
	
	